html, body {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
}

header {
	border: 1px solid #cccccc;
}

main {
	display: flex;
	flex: auto;
}

header, footer {
	background: linear-gradient(to bottom, #ffffff, #eceadc);
}

[draggable] {
	user-select: none;
	cursor: move;
}

.paneContainer {
	display: flex;
	flex: auto;
}

.rowContainer {
	flex-direction: column;
}

.colContainer {
	flex-direction: row;
}

.contentPane {
	border: 1px solid #bbbbbb;
	display: flex;
	flex-direction: column;
	flex: auto;
	position: relative; /* allows for absolute positioning of children */
}

.contentPane header {
	height: 1.2em;
	border-width: 0 0 1px 0;
	background: linear-gradient(to bottom, #ffffff, #eceadc);
}

.contentPane section {
	flex: auto;
}

.overlayContainer {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.noPointerEvents {
	pointer-events: none;	/* allow dragging of container below overlays */
}

.overlay {
	transition: all 0.3s ease;
}

.edgeOverlay {
	min-height: 5px;
	min-width: 5px;
	flex: none;
}

.middleOverlay {
	flex: auto;
}

.overlayActive {
	box-shadow: inset #6495ed 0 0 0 5px;
}

/* new in step 2 */
.rowDivider {
	min-height: 5px;
	height: 5px;
	cursor: row-resize;
}

.colDivider {
	min-width: 5px;
	width: 5px;
	cursor: col-resize;
}

.paneDivider {
	display: flex;
	flex: none;
	position: relative;
}

.paneDivider .overlay {
	flex: auto;
}

.tabbedNav {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	height: 100%;
	overflow: hidden;
}

.tabbedNav li {
	display: inline;
	list-style: none;
	font-size: 0.7em;
	padding: 0 0.5em;
	border-right: 1px solid #cccccc;
}

.tabbedNav li.active {
	background-color: #ffffff;
}

.displayNone {
	display: none;
}